<h1 style="text-align: center;"> Dodano użytkownika </h1>
<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">Imię:</h5>
        <p class="card-text">{{ item.Imie }}</p>
        <h5 class="card-title">Nazwisko:</h5>
        <p class="card-text">{{ item.Nazwisko }}</p>
        <h5 class="card-title">Login:</h5>
        <p class="card-text">{{ item.Login }}</p>
        <h5 class="card-title">Email:</h5>
        <p class="card-text">{{ item.Email }}</p>
        <h5 class="card-title">Rola:</h5>
        <p class="card-text">{{ item.Role }}</p>
        <a href="/" class="btn btn-primary">Przejdź do strony głównej</a>
    </div>
</div>